/*========== import ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*========== global var ==========*/
/*========== header ==========*/
/*========== title ==========*/
/*========== input ==========*/
/*========== body ==========*/
/*========== container ==========*/
/*========== init color ==========*/
/*========== Font ==========*/
/*========== Margenes Bottom ==========*/
/*========== z index ==========*/
/*========== import ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*========== global var ==========*/
/*========== header ==========*/
/*========== title ==========*/
/*========== input ==========*/
/*========== body ==========*/
/*========== container ==========*/
/*========== init color ==========*/
/*========== Font ==========*/
/*========== Margenes Bottom ==========*/
/*========== z index ==========*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #eff9fb;
  color: #6a797c;
}

h1, h2, h3, h4 {
  color: #232829;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== setting part ==========*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: 1.5rem;
}

.section_subtitle {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

/*========== nav ==========*/
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #eff9fb;
}

.header .nav {
  max-width: 968px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav_logo,
.header .nav_toggle {
  color: #232829;
  font-weight: 500;
}

.header .nav_logo:hover {
  color: #4bb3c3;
}

.header .nav_toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.header .nav_toggle:hover {
  color: #4bb3c3;
}

@media screen and (max-width: 767px) {
  .header .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #eff9fb;
    padding: 2rem 1.5rem 4rem;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.header .nav_list {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.header .nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.813rem;
  color: #232829;
  font-weight: 500;
}

.header .nav_link:hover {
  color: #4bb3c3;
}

.header .nav_icon {
  font-size: 1.2rem;
}

.header .nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #4bb3c3;
}

.header .nav_close:hover {
  color: #4ca1ae;
}

.header .show-menu {
  bottom: 0;
}

/*========== home ==========*/
.home .home_container {
  gap: 3rem;
}

.home .home_content {
  -ms-grid-columns: .5fr 3fr;
      grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home_social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 1rem;
}

.home .home_social .home_social-icon {
  font-size: 1.25rem;
  color: #4bb3c3;
}

.home .home_social .home_social-icon:hover {
  color: #4ca1ae;
}

.home .home_blob {
  width: 300px;
}

.home .home_blob-img {
  width: 400px;
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.home .home_data {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.home .home_data .home_title {
  font-size: 2rem;
}

.home .home_data .home_subtitle {
  font-size: 1.125rem;
  color: #6a797c;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.home .home_data .home_description {
  margin-bottom: 2rem;
}

.home .home_scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: scrollAnime 2.5s linear infinite;
          animation: scrollAnime 2.5s linear infinite;
  position: relative;
}

.home .home_scroll .home_scroll-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home_scroll .home_scroll-name {
  font-size: 0.813rem;
  color: #232829;
  font-weight: 500;
  margin-right: 0.25rem;
}

.home .home_scroll .home_scroll-arrow {
  font-size: 1.25rem;
}

@-webkit-keyframes scrollAnime {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
}

@keyframes scrollAnime {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
}

/*========== Btn ==========*/
.button {
  display: inline-block;
  background-color: #4bb3c3;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 500;
}

.button:hover {
  background-color: #4ca1ae;
}

.button .button_icon {
  font-size: 1.25rem;
  margin-left: 0.25rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.button .button--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*========== About ==========*/
.about .about_img {
  width: 350px;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about .section_title {
  margin-bottom: 1rem;
}

.about .about_description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about .about_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.about .about__info-title,
.about .about__info-name {
  display: block;
  text-align: center;
}

.about .about__info-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #232829;
}

.about .about__info-name {
  font-size: 0.75rem;
}

.about .about_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */